<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.network</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>03CD743F-F00F-4E46-892C-2FC1F1289953</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E408395A-B076-4D06-A50E-57E89D8A719B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>62A77632-669C-4B30-BB94-4BFEE128B841</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A8AEDA-E6E8-482F-8B06-D0668B825FF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9F47BC4-2CAF-446F-8B0E-913247814AF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E04F5BE5-F65F-4762-A27C-D3A36D06B7B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4EAE8FB-F90E-479D-B2B7-CE0F545601AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B88DD298-C36F-4E85-9E4D-15C0BB2A3BCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DFF64C71-792A-49ED-8BCB-7F834F6014D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62A77632-669C-4B30-BB94-4BFEE128B841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E408395A-B076-4D06-A50E-57E89D8A719B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A8AEDA-E6E8-482F-8B06-D0668B825FF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1CC5345C-CED7-493F-94E3-DB883C7C171F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>Collection of some useful network commands</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>dscacheutil -flushcache
echo "DNS cache flushed"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62A77632-669C-4B30-BB94-4BFEE128B841</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flush</string>
				<key>text</key>
				<string>Flush DNS cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFF64C71-792A-49ED-8BCB-7F834F6014D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Terminal Shortcuts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8A8AEDA-E6E8-482F-8B06-D0668B825FF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1CC5345C-CED7-493F-94E3-DB883C7C171F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>ping -c 1 {query} | grep "64 bytes from"|awk '{print $4}' | cut -d":" -f1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E408395A-B076-4D06-A50E-57E89D8A719B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ping</string>
				<key>subtext</key>
				<string>Pings hosts and copies IP to Clipboard</string>
				<key>text</key>
				<string>Ping host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03CD743F-F00F-4E46-892C-2FC1F1289953</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nslookup</string>
				<key>text</key>
				<string>Lookup domain</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4EAE8FB-F90E-479D-B2B7-CE0F545601AD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>nslookup {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B88DD298-C36F-4E85-9E4D-15C0BB2A3BCE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>traceroute</string>
				<key>text</key>
				<string>Traceroute host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A9F47BC4-2CAF-446F-8B0E-913247814AF0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>traceroute {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>E04F5BE5-F65F-4762-A27C-D3A36D06B7B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03CD743F-F00F-4E46-892C-2FC1F1289953</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>1CC5345C-CED7-493F-94E3-DB883C7C171F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>62A77632-669C-4B30-BB94-4BFEE128B841</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A9F47BC4-2CAF-446F-8B0E-913247814AF0</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B4EAE8FB-F90E-479D-B2B7-CE0F545601AD</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B88DD298-C36F-4E85-9E4D-15C0BB2A3BCE</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DFF64C71-792A-49ED-8BCB-7F834F6014D7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E04F5BE5-F65F-4762-A27C-D3A36D06B7B6</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E408395A-B076-4D06-A50E-57E89D8A719B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F8A8AEDA-E6E8-482F-8B06-D0668B825FF3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred2/</string>
</dict>
</plist>
